/** fonts **/
@font-face {
    font-family: AvenirBlack;
    src: local('AvenirLT95Black'), url('../fonts/AvenirLT95Black.ttf');
}
@font-face {
    font-family: AvenirBook;
    src: local('AvenirLTStd-Book'), url('../fonts/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: AvenirMedium;
    src: local('AvenirLTStd-Medium'), url('../fonts/AvenirLTStd-Medium.otf');
}
/** body **/
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "AvenirMedium";
    background-image: url("../images/fondo_body.png");
    background-attachment: fixed;
    background-size: cover;
}

/** header **/
.menu{
    background: radial-gradient(circle at 10% 20%, rgba(36, 153, 238) 0%, rgb(101, 255, 252, 0.87) 90%);
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu .logo img{
    width: 100px;
}    
.menu .items> a{
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}

/** jumbotron **/
.jumbotron {
    background-color: black;
    display: flex;
}
.jumbotron .texto{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}    
.jumbotron .texto span{
    font-size: 2rem;
    color:rgba(36, 153, 238);
}
.jumbotron .texto button{
    font-size: 2rem;
    background-color:rgba(36, 153, 238);
    color:black;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
}
.jumbotron .texto button:hover{
    color:white;
}

.jumbotron .imagen{
    width: 50vw;
}    




/** blog **/
.blog {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.blog h2{
    color:rgba(36, 153, 238);
    font-family: AvenirBlack;
}
.blog .posts {
    display: flex;
    justify-content:space-between ;
    margin-left:10vw;
    margin-right:10vw;
    
}
.blog .posts .post_left{
    padding:20px;
    
}
.blog .posts .post_middle{
    padding:20px;
    
}
.blog .posts .post_right{
    padding:20px;
    
}
.blog .posts .info{
    text-align: left;
    /*background-color: #f7f7f7;*/
    background: radial-gradient(circle at 10% 20%, rgba(36, 153, 238) 0%, rgb(101, 255, 252, 0.87) 90%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    margin-top: -5px;
}
.blog .posts .info h4{ 
    color:white;
    margin-bottom: 0;
}  
.blog .posts .info p{ 
    color:white;
    font-family: AvenirBook;
    margin-top: 0;
}  
.blog .posts .info a{ 
    font-size: 14px;
    color:black;
    text-decoration: none;
    
}    
.blog .posts .info a:hover{ 
    color:red;
} 
.blog .posts .info .fecha{ 
    font-size: 12px;
    color:#b1a0a0;
    float: right;    
} 

.blog .posts img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}    

/** contacto **/
.contacto {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.contacto h2{
    color:rgba(36, 153, 238);
    font-family: AvenirBlack;
}
.contacto .contacto-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}    
.contacto .contacto-box form{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding:20px;
    text-align: left;
}

.contacto .contacto-box form input, textarea {
    padding: 10px 0px;
    width: 100%; 
}   
.contacto .contacto-box form .mensaje {
    margin-bottom: 0;
}

/** footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: radial-gradient(circle at 10% 20%, rgba(101, 255, 252, 0.87) 0%, rgb(36, 153, 238) 90%);
    color:white;
    display: grid;
    grid-template-columns: repeat(8/1fr);
}
footer li {
    padding:5px 0px;
}
footer li a, span {
    color: black;
    text-decoration: none;
}
footer .cabecera{
    font-weight: 800;
    color:white;
}
footer .logo {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
footer .logo img {
    width: 150px;
}    

footer  .tienda{
    grid-column-start: 4;
    grid-column-end: 5;
    list-style: none;
}
footer .legales{
    grid-column-start: 5;
    grid-column-end: 6;
    list-style: none;
}
footer .siguenos{
    grid-column-start: 6;
    grid-column-end: 7;
    list-style: none;
}
footer .siguenos .social{
    float: left;
}    

footer .siguenos .social_facebook, .social_twitter, .social_instagram{
    width: 30px;
    transition: transform .2s;
}    
footer .siguenos .social_facebook:hover, .social_twitter:hover, .social_instagram:hover{
    transform: scale(1.5);
} 

footer .contacto{
    grid-column-start: 7;
    grid-column-end: 8;
    list-style: none;
}